h5{
    background-color: black;
    color: aquamarine;
    border: 2px solid brown;
    border-radius: 20%;
}


/* CSS selectors 
    >>universal Selector (*)
    >>ID selectors (#)
    >>Class selector (.)
    >>Element selector
    >>Selector List
    >>Desendant Selector
    >>Direct child selector*/
