.box{
    background-color: black;
    height: 100vh;
}

.ball{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 100%;
}

.ball:hover{
    animation: MoveTheBall 5s ease-in-out forwards;
}

@keyframes MoveTheBall {
    25%{
        transform: translate(400%);
        background-color: aqua;
        border-radius: 30%;
    }
    50%{
        transform: translate(400%,400%);
        background-color:brown;
        border-radius: 25%;
    }
    75%{
        transform: translate(0,400%);
        background-color:blueviolet;
        border-radius: 10%;
    }
    100%{
        transform: translate(0,0);
        background-color: yellow;
    }
}